%h2 Room types

= link_to 'new', new_admin_room_type_path

%table.pure-table-bordered
  %thead
    %tr
      %th Name
      %th action
  - @room_types.each do |ht|
    %tr
      %td
        = ht.name
      %td
        = link_to 'edit', edit_admin_room_type_path(ht)
      %td
        = link_to 'delete', admin_room_type_path(ht), method: :delete
