%h2 Cleaning tasks

= link_to "Delete #{@sensors_no_messages} Sensors with no messages",
  admin_cleaner_sensors_path, method: :delete, class: 'pure-button'

= link_to "Delete #{@rooms_no_readings} Rooms with no readings",
  admin_cleaner_rooms_path, method: :delete, class: 'pure-button'

