- cache @my_homes do
  - if @my_homes.size == 1
    %li.pure-menu-item.pure-menu-selected
      = link_to 'My Whare', home_rooms_path(@my_homes.first), class: 'pure-menu-link'
  - else
    %li.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
      %a.pure-menu-link
        My Whare
      %ul.pure-menu-children
        - @my_homes.each do |home|
          %li.pure-menu-item
            = link_to home.name, home_rooms_path(home), class: 'pure-menu-link'
        %li.pure-menu-item
          = link_to 'new whare', new_home_path, class: 'pure-menu-link'
