= form_tag do
  .new-home-form
    %form.pure-form
      %fieldset
        %legend New Home to monitor
        %input{type: "name", placeholder: "Name of home"}
        %button.pure-button.pure-button-primary{type: "submit"} Create
