%p Kia ora,

%p
  = @invitation.inviter.email
  has invited you to join their whÄnau
  and view details of their whare.

%p
  To accept or decline this invitation,
  = link_to 'Click here', home_viewer_url(@invitation)
  or copy and paste the link below into your browser:

%p
  = home_viewer_url(@invitation)
