%h2.conditions-page-title Median values
.pure-g
  .pure-u-1.pure-u-md-1-2
    = line_chart opendata_readings_path(key: 'temperature', day: day), title: 'temperature'
  .pure-u-1.pure-u-md-1-2
    = line_chart opendata_readings_path(key: 'humidity', day: day), title: 'humidity'
