= image_tag(image_url("whare-photo.png"))
- if user_signed_in?
  %p
    Pretty graphs coming soon
- else
  .l-content
    .pure-u-1.pure-u-md-1-3
      .whare-table.whare-table-signin.whare-table-selected
        .whare-table-header
          %h2 Existing Users
          %span.whare-table-details
            Sign in
            %span existing users
        .sign-in-footer
          .existing-user-text
            Existing User
          .sign-in-link
            = link_to "Sign in", new_user_session_path,
              class: "button-choose pure-button"

%h1 Public Data

.public-homes
  %table.pure-table
    %thead
      %tr
        %th.sortable
          Name
    %tbody
      - @public_homes.each do |home|
        %tr
          %td
            = link_to home.name, home_path(home)
