= image_tag(image_url('whare-photo.png'))
- if user_signed_in?
  %p
    Pretty graphs coming soon
- else
  .user-table
    .sign-in-table
      .existing-user Existing Users
      .user-image
        %i.fa.fa-user-circle.fa-5x
      .sign-in-link
        = link_to "Sign in", new_user_session_path,
          class: "button-choose pure-button button-style"

    .public-data
      .public-title Public Data
      .public-image
        %i.fa.fa-user-circle.fa-5x
      .public-name Name
      %tbody
        - @public_homes.each do |home|
          %tr
            %td
              = link_to home.name, home_path(home)
