.pure-g
  .pure-u-1-2
    %h3 Edit Home Type
    %p There are #{@homes_count} homes of this type
    .pure-form
      = form_for @home_type, url: { action: 'update' } do |f|
        = render 'form', f: f, home_type: @home_type
        %fieldset
          %button.btn.btn-primary Save
          = link_to 'Delete', admin_home_type_path(@home_type),
            method: :delete, class: 'btn'
