- content_for(:title) do
  Admin - Whare Types

%section.card
  %header
    %h2 Whare Types
  %table
    %thead
      %tr
        %th Name
    %tbody
      - @home_types.each do |whare_type|
        %tr
          %td= whare_type.name
          %td.actions
            - if policy(whare_type).edit?
              = render 'common/buttons/edit', link_path: edit_admin_home_type_path(whare_type)
          %td.actions
            - if policy(whare_type).destroy?
              = render 'common/buttons/delete', link_path: admin_home_type_path(whare_type)


- if policy(:home_type).new?
  = render 'common/buttons/add', link_path: new_admin_home_type_path
