= form_for av, url: { action: 'update' } do |u|

  %fieldset
    %p
    = u.submit 'Remove'
    = u.label :email, av.email






/ g
/ = link_to 'Remove', home_path(@home), method: :remove_authorized_viewer, class: 'pure-button'
/ = submit_tag 'Remove'
/  = f.text_field :name, type: 'text', placeholder: 'Name of home'

/ fieldset
/   - @authorized_viewers.each do |av|
/     %p
/       = link_to 'Remove', home_path(@home), method: :remove_authorized_viewer,
/  class: 'pure-button'
/       = f.label :id, av.email
/
/   = f.text_field :add_authorized_viewer, type: 'text', placeholder: 'Email of Flatmate or friend'
/   = f.submit
/   / = link_to 'Add', home_path(@home), method: :add_authorized_viewer, class: 'pure-button'
