%table.pure-table
  %thead
    %tr
      %th.sortable
        Name
      %th.sortable
        Rooms
  %tbody
    - homes.each do |home|
      %tr
        %td
          = link_to home.name, home_path(home)
        / %td
        /   = link_to I18n.t("helpers.link.global.delete"), home_path(home), method: :delete