= form_for @home, url: { action: 'update' } do |f|
  %section.card
    %header
      %h2 My Whare
    = render 'form', f: f, home_types: @home_types
    %footer
      %button.btn.btn-primary Save
      = link_to 'Delete', home_path(@home), method: :delete, class: 'btn'
