%h1 Whare

%section.card
  - if policy(:home).new?
    %p
      = link_to new_home_path, class: 'btn' do
        Add
        = fa_icon 'plus'

  - unless @homes.empty?
    = render 'table', homes: @homes
