- content_for(:title) do
  Your Whare
%h1 Whare

- if policy(:home).new? && current_user.janitor?
  %p
    = link_to new_home_path, class: 'btn' do
      Add new whare

- if @homes.empty?
  %p
    Welcome to Whare Hauora.
    %li Let's #{link_to 'add your whare', new_home_path, class: 'underline'}
- else
  %section.card
    = render 'table', homes: @homes
