= form_for @home, url: { action: 'create' }, class: 'pure-form' do |f|
  %section.card
    %header
      %h2 New whare to monitor
    = render 'form', f: f, home_types: @home_types
    %footer
      = f.submit "Create"
