%h2
  = @home.name

= render 'nav', home: @home

- unless @home.sensors.empty?
  .pure-g
    .pure-u-1-2
      %h3 Temperature
      = line_chart(@temperature)
    .pure-u-1-2
      %h3 Humidity
      = line_chart(@humidity)

