.user-table {
  position: relative;
  float: left;
  outline: 1px solid red;
  width: 100%;
  overflow: hidden;

  .sign-in-table {
    // position: relative;
    // float: left;
    display: inline-block;
    width: 40%;
    margin-left: 15px;
    max-height: 500px;
    text-align: centre;
    outline: 1px solid $grey;

    .existing-user {
      font-size: 26px;
      text-align: center;
      background-color: $grey;
    }

    .user-image {
      margin: 14% 39%;
    }

    .sign-in-link {
      outline: 1px solid $grey;
      text-align: center;
      background-color: $grey;
    }
  }

  .public-data {
    margin-right: 15px;
    max-height: 500px;
    text-align: centre;
    width: 40%;
    float: right;
    outline: 1px solid blue;

    .public-title {
      font-size: 26px;
      text-align: center;
      background-color: $grey;
    }

    .public-image {
      margin: 14% 39%;
    }

    .public-name {
      font-size: 26px;
      text-align: center;
      background-color: $grey;
    }
  }
}