%section.card
  %header
    %h2
      Sensor
      %span.sensor= sensor.node_id
    %dl.col4.restrict-width
      %dt First Detected
      %dd= sensor.created_at
      %dt Last reading
      %dd
        - if sensor.messages.size.positive?
          = time_ago_in_words sensor.last_message
        - else
          never
      %dt Battery
      %dd coming soon
      %dt Software
      %dd coming soon
    - if policy(sensor).unassign?
      .right-action
        = link_to sensor_unassign_path(sensor),
          class: 'btn small', method: :delete,
          data: { confirm: 'remove sensor from this room?' } do
          Disconnect from room
