%section.card
  %header
    %h2
      Sensor
      %span.sensor
        - if sensor.mac_address.present?
          = sensor.mac_address
        - else
          = sensor.node_id

  %dl.col4.restrict-width
    %dt First Detected
    %dd=sensor_first_detected(sensor)
    %dt Last reading
    %dd= sensor_last_message(sensor)
    %dt Battery Level
    %dd Not supported
    %dt Software
    %dd
      - if sensor.home.gateway.present?
        =sensor.home.gateway.version
      - else
        unknown
  .right-action
    = link_to sensor_unassign_path(sensor),
      class: 'btn small', method: :delete,
      data: { confirm: 'remove sensor from this room?' } do
      Disconnect from room