.conditions-table
  %h2= sensor.node_id
  detected
  = time_ago_in_words sensor.created_at
  ago
  - if sensor.room.blank?
    = link_to edit_sensor_path(sensor), class: 'button-analyze pure-button' do
      Assign to room
