
%fieldset
  = f.label :room_name
  = f.text_field :room_name, {type: "name", placeholder: "room name"}

%fieldset
  - room_types.each do |rt|
    %p
      = f.radio_button :room_type_id, rt.id
      = f.label :room_type_id, rt.name
