%table.pure-table
  %thead
    %tr
      %th
        When
      %th
        Type
      %th
        Value
  %tbody
    - readings.each do |reading|
      %tr
        %td
          = reading.created_at
        %td
          = reading.message_type
        %td
          = reading.value
