
= render 'homes/nav', home: @home
%h2.conditions-page-title Rooms in #{@home.name}

- if @rooms.size.positive?
  .conditions-tables.pure-g
    - @rooms.order(:name).each do |room|
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
        = render "card", room: room
  = paginate(@rooms)
- else
  %p Home has no rooms

