%h1=@home.name

- if policy(@home).edit? && @unassigned_sensors.size.positive?
  %h2.warning
    = fa_icon 'warning'
    new sensors detected

  - @unassigned_sensors.each do |sensor|
    = render 'sensors/card', sensor: sensor

- if @rooms.size.positive?

  .summary-grid
    - @rooms.includes(:room_type).order(:name).each do |room|
      = render 'rooms/card', room: room

- else
  %p This whare has no monitored rooms.
  %p Activate sensors in your home, and they will appear here.
