.pure-button {
  background-color: $wharehauora-green;
  text-shadow: 0 1px 1px $button-shadow;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  border-radius: 4px;
  color: $white;
}

.success,
.button-success {
  background: $success-green;
}

.error,
.button-error {
  background: $error-maroon;
}

.warning,
.button-warning {
  background: $warning-orange;
}

.secondary,
.button-secondary {
  background: $secondary-blue;
}

.xsmall {
  font-size: 70%;
}

.small {
  font-size: 85%;
}

.large {
  font-size: 110%;
}

.xlarge {
  font-size: 125%;
}

.button-analyze {
  background: $white;
  border-radius: 2em;
  border: 1px solid $shadowy-grey;
  bottom: -1.5em;
  color: $analytical-button-white;
  font-weight: bold;
  position: relative;
}
