html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "proxima-nova";
  font-weight: 500;
  margin: 0;
}

img {
  width: 100%;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

.container {
  height: 100%
}
.content {
  padding: 0;
  margin-left: 25%;
}

.left-side {
  background-color: #abcc76;
  position: fixed;
  top: 0;
  bottom: 0;
}