//colors

$wharehauora-green: #ABCC76;

$white:  #FFFFFF;
// $black:  #333333;
$blue:   #0000FF;
$grey:   #969696;

$black: #000000;

$boring-white: #526066;
$concrete: #DDDDDD;
$lighter-concrete: #F7F7F7;
$white: #FFFFFF;
$white-grey: #F7F7F7;
$footer-grey-text: #888888;
$shadowy-grey: #CCCCCC;
$kinda-light-concrete: #E7E7E7;
$analytical-button-white: #333333;
$black: #000000;
$pure-menu-shadow: rgba(0, 0, 0, 0.10);
$room-conditions-background: rgba(255, 255, 255, 0.5);

$room-bad: #2C4985;
$room-good: #519251;

$success-green: rgb(28, 184, 65);
$error-maroon: rgb(202, 60, 60);
$warning-orange: rgb(223, 117, 20);
$secondary-blue: rgb(66, 184, 221);
$button-shadow: rgba(0, 0, 0, 0.2);
