// Based heavily on sample layout from yahoo's purecss

body {
  color: $boring-white;
  font-family: "proxima-nova";
  font-weight: 500;
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
}

.header {
  background-color: $wharehauora-green;
  height: 150px;
  left: 0;
  top: 0;

  img {
    height: 100%;
  }
}

h2,
h3 {
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
}

p {
  line-height: 1.6em;
}


// -- Layout Styles --
.l-content {
  margin: 0 auto;
}

.l-box {
  padding: 0.5em 2em;
}

// -- MENU STYLES --
// Make the menu have a very faint box-shadow.
.pure-menu {
  box-shadow: 0 1px 1px $pure-menu-shadow;
  text-align: center;
}

.pure-menu-link {
  padding: 0.5em 0.7em;
}

// -- BANNER --
// The top banner with the headings. By using a combination
// of `display: table;` and `display: table-cell;`, we can
// vertically center the text.

.banner {
  background-size: cover;
  display: table;
  height: 200px;
  margin-bottom: 3em;
  text-align: center;
  width: 100%;
}

.banner-head {
  color: $white;
  display: table-cell;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0;
  text-shadow: 0 1px 1px $black;
  vertical-align: middle;
}

.content {
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}


// -- ROOM TABLE WRAPPER --
// This element wraps up all the room table elements
.conditions-tables,
.information {
  margin: 0 auto;
  max-width: 980px;
}

.conditions-tables {
  margin-bottom: 3.125em;
  text-align: center;
}


// -- ROOM TABLE  --
// Every room table has the .conditions-table class
.conditions-table,
room-analysis-metric {
  border: 1px solid $concrete;
  margin: 0 0.5em 2em;
  padding: 0 0 3em;
}

// -- ROOM TABLE HEADER COLORS --
// Choose a different color based on the type of room table.
.conditions-table-good .conditions-table-header {
  background: $room-good;
}

.conditions-table-bad .conditions-table-header {
  background: $room-bad;
}

// -- ROOM TABLE HEADER --
// By default, a header is black/white, and has some styles for its <h2> name.
.conditions-table-header {
  background: $shadowy-grey;
  color: $white;

  h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding-top: 2em;
  }
}


// -- ROOM TABLE PRICE --
// Styles for the price and the corresponding <span>per month</span>
.conditions-table-current {
  font-size: 4em;
  font-weight: 100;
  margin: 0.2em 0 0;

  span {
    // *color: $white;
    color: $room-conditions-background;
    display: block;
    font-size: 0.2em;
    font-weight: 400;
    padding-bottom: 2em;
    text-transform: uppercase;
  }
}

// -- ROOM TABLE LIST --
// Each room table has a <ul> which is denoted by the .conditions-table-list class
.conditions-table-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  //
  // -- ROOM TABLE LIST ELEMENTS --
  // Styles for the individual list elements within each room table
  li {
    background: $lighter-concrete;
    border-bottom: 1px solid $kinda-light-concrete;
    padding: 0.8em 0;
  }
}

.information-head {
  color: $black;
  font-weight: 500;
}

.footer {
  background: $white-grey;
  color: $footer-grey-text;
  text-align: center;

  a {
    color: $concrete;
  }
}


// -- TABLET MEDIA QUERIES --
// On tablets, we want to slightly adjust the size of the banner
// text and add some vertical space between the various room tables
@media(min-width: 767px) {

  .banner-head {
    font-size: 4em;
  }

  .conditions-table {
    margin-bottom: 0;
  }
}


// -- PHONE MEDIA QUERIES --
// On phones, we want to reduce the height and font-size of the banner further
@media (min-width: 480px) {
  .banner {
    height: 400px;
  }

  .banner-head {
    font-size: 3em;
  }
}
