%h2 Add flatmates, whānau or someone else to your whare

%h2
  = @home.name

= form_for @new_viewer, url: home_invitations_path(@home) do |f|
  %form.pure-form
    %fieldset
      = f.label :user, 'Email'
      = f.email_field :email
    %fieldset
      %button.pure-button.pure-button-primary{ type: 'submit' } Add
