%section.card
  %header
    %h2 Add flatmates, whÄnau or someone else to your whare

  = form_for User.new, url: { action: 'create' }, class: 'pure-form' do |f|
    = hidden_field_tag :home_id, @home.id
    %ul.form-row
      %li
        = f.label :user, 'Email'
        = f.email_field :email
      %li
        %button.btn{ type: 'submit' } Add
