%footer
  %select.lang-picker
    %option{"data-iconurl" => image_url('icon/lang-eng.svg'), value: "English"}
      English
    %option{"data-iconurl" => image_url('icon/lang-mri.svg'), value: "Te Reo Māori"}
      Te Reo Māori
    %option{"data-iconurl" => image_url('icon/lang-smo.svg'), value: "Samoan"}
      Samoan
