%script{ src: javascript_path('jquery-ui-widget.min.js') }
%script{ src: javascript_path('jquery.selectBoxIt.min.js') }
%script{ src: javascript_path('jquery.icheck.min.js') }
%script{ src: javascript_path('jquery.magnific-popup.min.js') }
%script{ src: javascript_path('tooltipster.bundle.min.js') }
