-# %i.fa.fa-spinner.fa-spin.fa-3x.fa-fw
-# %span.sr-only Loading...

-# %i.fa.fa-circle.o-notch.fa-spin.fa-3x
-# %span.sr-only Loading...

%i.fa.fa-refresh.fa-spin
%span.sr-only Loading...

-# %i.fa.fa-cog.fa-spin.fa-3x.fa-fw
-# %span.sr-only Loading...

-# %i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
-# %span.sr-only Loading...
